body {
	padding: 0px;
	margin: 0px;
	font-family: "open sans", sans-serif;
}

body > div {
	margin: 1em 8em 1em 8em;
}
.box {
	background: #F0F0F0;
	line-height: 1.7em;
	padding: 1em;
	border-radius: 3px;
}

.container {
	display: flex;
	background: lightblue;
	padding: 1em;
	border-radius: 3px;
}
.container > div {
	padding: 0.5em 1em 0.5em 1em;
	background: #F5F5F5;
	border: 1px solid gray;
	margin-right: 0.5em;
	border-radius: 3px;
}

span.blue {
	color: #0061ff;
}
span.gray {
	color: gray;
}

.col {
	flex-direction: column;
}

nav.main-menu {
	padding: 1em 1em 1em 1em;
	background: #555;
	border-radius: 3px;
	display: flex;
	justify-content: center;
}
nav.main-menu a {
	padding: 0.5em;
	color: #666;
	text-decoration: none;
	background: #f0f0f0;
	border-radius: 3px;
	font-size: 0.95em;
	margin-right: 0.3em;
}
nav.main-menu a.selected {
	color: #4286f4;
}